.navbar {
    height: 60px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid transparent;
    left: 0;
    border-bottom-color: rgba(0, 27, 55, .1);
    background-color: #fff;
    z-index: 1000;
}

.navbar_container {
    width: 92%;
    max-width: calc(100% - 48px);
    max-width: calc(100% - var(--padding-container-base));
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.navbar_logo {
    display: flex;
    align-items: center;
    margin-right: 24px;
    min-height: 60px;
    min-height: var(--navbar-height);
    margin-top: 5px;
    cursor: pointer;
}

.navbar_contents {
    width: calc(100% + 48px);
    margin: 0 -24px;
    flex-direction: column;
    overflow-y: hidden;
    display: flex;
    flex: 1;
    max-height: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.navbar_contents > ul{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar_contents > ul > li{
    padding: 0 8px;
    color: #4e5968;
    color: var(--grey700);
    white-space: nowrap;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

.contents {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.main {
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0px 24px;
}

.main > div{
    width: 1200px;
    min-height: 100vh;
}

.main_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    min-height: 50px;
}

.toss_banner {
    height: 130px;
    background-color: #222845;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    object-fit: contain;
    border-radius: 12px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 24px;
    margin-bottom: 40px;
    max-width: 1050px;
    position: relative;
    cursor: default;
}

.toss_banner > span {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.toss_banner > span > img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.main_left {
    max-width: 700px;
    margin-bottom: 60px;
    padding: 0px 24px;
    min-height: 47px;
}

.tab {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 61px;
    z-index: 9999;
    background-color: white;
    padding: 10px 0;
}

.tab_bar {
    border-bottom: 1px solid #f2f4f6;
    border-bottom-color: var(--grey100);
    padding-bottom: 2px;
    height: 47px;
    position: relative;
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
}

.tab_line {
    width: 69px;
    transform: none;
    bottom: 0;
    left: 0;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    background: var(--grey900);
}

.--indicated {
    background: #191f28;
}

.tab_item {
    --pTabSpacing: 9px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tab_item > span {
    transition: font-weight .2s ease, color .2s ease;
    color: #6b7684;
    color: var(--grey600);
    font-weight: 500;
    font-size: 17px;
    font-size: var(--font-size-h7);
    line-height: 1.6;
    line-height: var(--line-height-base);
    margin: 0;
    padding: 0;
    color: #4e5968;
    color: var(--grey700);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.article_list {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.article_list > div {
    width: 100;
    list-style: none;
}

.article_list > div > li > a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    padding: 24px 0px;
    color:black;
}

.article_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: auto;
    overflow: hidden;
    width: 80%;
    padding-right: 20px;
}

.article_content > .title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 6px;
    overflow: hidden;
    font-weight: 700;
    color: #191f28;
    text-overflow: ellipsis;
    word-break: keep-all;
    overflow-wrap: break-word;
    font-size: 20px;
    font-size: var(--font-size-h6);
    line-height: 1.6;
    line-height: var(--line-height-base);
    margin: 0;
    padding: 0;
    color: #4e5968;
    color: var(--grey700);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    padding: 24px 0px;
}

.article_content > .subtitle {
    margin-bottom: 16px;
    font-size: 13px;
    display: block;
    margin: 0;
    color: #4e5968;
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 15px;
    font-size: var(--font-size-p);
    line-height: 1.6;
    line-height: var(--line-height-base);
}

.article_content > .editor {
    font-size: 13px;
    color: #4e5968;
    display: inline-block;
    font-weight: 400;
}

.article_img {
    position: relative;
    width: 130px;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.article_img > img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 130px;
    height: 90px;
    object-fit: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    border-style: none;
}

.main_right {
    margin-bottom: 100px;
    padding: 0px 24px 50px 24px;
    border-left: 1px solid #e5e8eb;
}

.main_right_item {
    width: 300px;
}

.main_right_item > span {
    color: #6b7684;
    font-weight: 600;
    font-size: 13px;
    /* font-size: var(--font-size-small); */
    line-height: 1.6;
    /* line-height: var(--line-height-base); */
    margin: 0;
    padding: 0;
}

.popular {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 12px 0;
}

.popular > .title {
    color: #191f28;
    font-weight: 600;
    text-overflow: ellipsis;
    word-break: keep-all;
    overflow-wrap: break-word;
    font-size: 15px;
    line-height: 1.6;
}

.popular > .writer {
    color: #4e5968;
    margin-top: 3px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.6;
    color: #4e5968;
}

.recent {
    width: 300px;
    background-color: rgb(249, 250, 251);
    border-radius: 20px;
    margin-top: 12px;
    padding: 20px;
    cursor: pointer;
}

.recent > .profile {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.recent > .profile > div {
    position: relative;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: top;
    margin-right: 8px;
}

.recent > .profile > div > div {
    width: 32px;
    height: 32px;
    border-radius: 9999px;
    background-color: rgb(242, 244, 246);
    position: relative;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    vertical-align: top;
}


.recent > .profile > div > div > img {
    --asset-object-fit: contain;
    --asset-scale: 1;
    object-fit: contain;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    /* transform: scale(var(--asset-scale)); */
}

.recent > .feedback {
    display: -webkit-box;
    width: 100%;
    max-height: 40px;
    margin-top: 8px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1;
    overflow: hidden;
    color: rgb(78, 89, 104);
}

.recent > .feedback > span {
    color: rgb(78, 89, 104);
    font-weight: 600;
    font-size: 13px;
}

.recent > .article {
    color: rgb(139, 149, 161);
    display: block;
    width: 100%;
    height: 24px;
    margin-top: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.recent > .article > span {
    color: rgb(139, 149, 161);
    font-weight: 500;
    font-size: 11px;
    line-height: 1.6;
}

.tag {
    position: relative;
    margin-top: 12px;
}

.tag > div {
    margin-right: 6px;
    margin-bottom: 8px;
    display: inline-block;
    cursor: pointer;
}

.tag > div > span {
    background: #f2f4f6;
    color: #4e5968;
    padding: 4px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 19px;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.6;
}

.detail {
    width: 700px;
    margin: 0px auto;
}

.footer {
    font-size: 15px;
    display: flex;
    height: 80px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    overflow: hidden;
    height: 59px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}